.container {
  padding: 20px;
}

.container h1 {
  margin-bottom: 20px;
  color: #333;
}

.container .loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.mat-mdc-table {
  width: 100%;
  margin-bottom: 20px;
}

.mat-mdc-header-cell {
  font-weight: bold;
  color: #666;
}

.mat-mdc-cell {
  padding: 8px;
}

.mat-mdc-icon-button {
  margin: 0 4px;
} 