:host {
    display: block;
    grid-area: main-content;
    padding-left: 2.1875rem;
}

.students-list {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;

}

.approved {
    color: green;
}

.failed {
    color: red;
}