<p>Menú</p>
<mat-nav-list class="app-sidenav-list">
    <ng-container *ngIf="isAuthenticated$ | async">
        <a mat-list-item routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/students">
            <mat-icon>people</mat-icon>
            <span>Estudiantes</span>
        </a>
        <a mat-list-item routerLink="/courses">
            <mat-icon>school</mat-icon>
            <span>Cursos</span>
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/auth/logout" class="logout-link">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
        </a>
    </ng-container>
    
    <ng-container *ngIf="!(isAuthenticated$ | async)">
        <a mat-list-item routerLink="/auth/login">
            <mat-icon>login</mat-icon>
            <span>Iniciar Sesión</span>
        </a>
    </ng-container>
</mat-nav-list>

