:host {
    display: block;
    height: 100%;
}

.home-grid {
    display: grid;
    grid-template-areas:
    "sidebar main-content";
    grid-template-columns: 1fr;
    min-height: calc(100vh - 160px); 
}

.sidebar {
    grid-area: sidebar;
}



