<!-- <table mat-table [dataSource]="myDataArray">
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> id : </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container> 
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Nombre : </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Apellido : </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Curso : </th>
        <td mat-cell *matCellDef="let user"> {{user.course}} </td>
    </ng-container>     
</table> -->