<!-- <main class="main-content">
    <div class="list-cards">
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
        <div class="cards">
            <img src="#" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam expedita, quidem esse nesciunt omnis
                laboriosam in mollitia. Libero eaque rem dolores mollitia labore</p>
        </div>
    </div>
</main> -->


